header{
	width:100%;
	margin-top: 0px;
	height: 103px;
	background-color: #fff;
// 	header .container {
//   position: relative;
// }
.header-logo {
  float: left;
    margin-top: 26px;
    margin-left: -3px;
}
.header-logo img {
  padding: 7px 15px 0px 0px;
  border-right: 1px solid #cccccc;
}
.header-text {
  float: left;
  // width: 32%;
    margin-top: 20px;
  margin-left: -14px;
  line-height: 19px;

}
.header-text p {
  font-family: OpenSans-Light;
  font-size: 15px;
    margin: 0px;
}
.header-icons p{
  float: left;
margin:15px 0px 0px 12px;
  // width: 25%;
}
.header-icons a {
  
  float: left;
  display: block;
}
.header-icons a img {
  margin: 8px -7px 0px 11px;
  height: 38px;
  width: 38px;
}

// .header-icons .sk {
//   margin: -3px 4px 0px 3px;
// }
// .header-icons .you {
//   margin: 0px 6px;
// }

.header-icons p {
	font-family: OpenSans-Light;
	font-size: 15px;
	text-decoration: underline;
}
.top-phone{
  width: 104%;
	font-family: OpenSans-Light;
	font-size: 28px;
  margin: 6px 0px 0px 13px;
}
.header-phone a {
  margin: 8px 0px 0px 100px;
  display: block;

  font-family: OpenSans-Light;
	font-size: 16px;
}
.btn-large{
  margin: -22px 0px 0px -23px;
  padding: 4px 0px 0px 0px;
}
.btn-sm, .btn-group-sm > .btn {
  width: 158px;
  height: 36px;
  padding: 4px 0px 0px 0px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
}
.btn-default {
  color: #000;
    background: linear-gradient(to bottom, rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
}
.btn-default:hover {
  color: #000;
  background: linear-gradient(to bottom, rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);}


// .header-phone a span {
// 	width: 160px;
// 	height: 33px;
//   background: -webkit-linear-gradient(top, #bbf75b, #6eaa0e);
//   background: -moz-linear-gradient(top, #bbf75b, #6eaa0e);
//   background: -o-linear-gradient(top, #bbf75b, #6eaa0e);
//   background: -ms-linear-gradient(top, #bbf75b, #6eaa0e);
//   background: linear-gradient(top, #bbf75b, #6eaa0e);
//   border-radius: 5px;
//   color: #000;
//   padding: 4px 7px;
  
// }

// // .header-phone {
// //   float: left;
// //   width: 25%;
// //   margin-top: -20px;
// //  }
// // .header-phone p {
// //   margin: 23px 0px 0px 30px;
// //   font-family: rcb,arial;
// //   font-size: 18px;
// // }

// .btn {
// 	text-align: center;
// 	position: relative;
// 	cursor: pointer;
// 	border: 1px solid #ffee31;
// 	border-radius: 8px;
// 	font-family: 'sans_regular';
// 	font-size: 16px;
// 	color: #000;
// 	line-height: 30px;
// 	text-shadow: 0 1px 0 #ffdf31;
// 	background: rgb(255,204,3);
// 	background: -moz-linear-gradient(top,  rgba(255,204,3,1) 0%, rgba(255,165,0,1) 100%);
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,3,1)), color-stop(100%,rgba(255,165,0,1)));
// 	background: -webkit-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
// 	background: -o-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
// 	background: -ms-linear-gradient(top,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
// 	background: linear-gradient(to bottom,  rgba(255,204,3,1) 0%,rgba(255,165,0,1) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
// }

// .btn:hover {
// 	background: rgb(255,224,3);
// 	background: -moz-linear-gradient(top,  rgba(255,224,3,1) 0%, rgba(255,185,0,1) 100%);
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,224,3,1)), color-stop(100%,rgba(255,185,0,1)));
// 	background: -webkit-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
// 	background: -o-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
// 	background: -ms-linear-gradient(top,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
// 	background: linear-gradient(to bottom,  rgba(255,224,3,1) 0%,rgba(255,185,0,1) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
// }

// .btn:active {
// 	background: rgb(255,185,3);
// 	background: -moz-linear-gradient(top,  rgba(255,185,3,1) 0%, rgba(255,224,0,1) 100%);
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,185,3,1)), color-stop(100%,rgba(255,224,0,1)));
// 	background: -webkit-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,185,0,1) 100%);
// 	background: -o-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
// 	background: -ms-linear-gradient(top,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
// 	background: linear-gradient(to bottom,  rgba(255,185,3,1) 0%,rgba(255,224,0,1) 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc03', endColorstr='#ffa500',GradientType=0 );
// }

// .btn:before {
// 	width: inherit;
// 	height: inherit;
// 	padding: 1px;
// 	border: 1px solid #fc930b;
// 	position: absolute;
// 	left: -2px;
// 	top: -2px;
// 	border-radius: 9px;
// }

// .btn:after {
// 	width: 96%;
// 	height: 5px;
// 	position: absolute;
// 	left: 50%;
// 	margin-left: -48%;
// 	bottom: 6px;
// 	content: '';
// 	display: block;
// 	z-index: -1;
// 	border-radius: 5px;
// 	box-shadow: 0 10px 10px #81523f;
// 	background: none;
// }

// .btn:hover {
// 	cursor: pointer;
// }

}