.clients{
	background:url(../../images/partners/bg.jpg);
	height: 167px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;


	
}h3{
		font-family: GloberBoldFree;
		font-size: 24px;
		font-weight: bolder;
		  margin: 25px 0px 0px 496px;
  color: #fff;
	}