.how-it-works{
	font-family: OpenSans-Light;
	font-size: 18px;
	padding: 10px 0px;
	h2{
		font-family: GloberBoldFree;
		font-size: 70px;
		color: #009ae1;
		font-weight: bold;
	}
	i{
		color: #eaeaea;
		font-family: GloberBoldFree;
		font-size: 70px;
		font-weight: bold;
	}

	.bg1{
 		margin: 47px 0px 0px -56px;
	}
		.text1{
			margin:139px 0px 0px -125px ;
		}
	.bg2{
		margin:-26px 0px 0 67px;
	}
		.text2{
			margin: 54px 0 0 -15px;
		}
	.bg3{
		margin:-28px 0px 0px -56px;
	}
		.text3{
			margin:110px 0px 0px -43px;
		}
	.bg4{
 		margin: -21px 0px 0 67px;
	}
		.text4{
			margin: 63px 0px 0px -16px;;
	}
	.bg5{
		margin:-27px 0px 0px -56px;
	}
		.text5{
			margin: 85px 0px 0px -42px;
		}
	.bg6{
		margin:-18px 0px 0px 67px;
	}
		.text6{
			margin:116px 0px 0px -16px;
		}

}

