.marketing{
	padding: 40px 0px;
	color: #fff;
	background:transparent url(../../images/marketing/bg.png);
	.line{
		border-left: 6px solid #009ae1;
		padding-left: 10px;
		font-family: GloberBoldFree;
		h3{
			font-size: 28px;
			margin: 0px;
		}
		p{
			font-family: OpenSans-Light;
			font-size: 20px;
		}
	}
	i{
		font-weight: bolder;
		font-size: 16px;
		font-style: normal;
	}
	h4{
		font-weight: bolder;
		font-size: 16px;
	}

}